.top {
    display: grid;
    grid-area: t;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    text-align: center;
    background: rgba(0, 0, 0, 0.795);
    color: rgba(240, 248, 255, 0.774);
}
.top a {
    color: gainsboro;
    text-decoration: none;
}
.top a.active {
    color: cadetblue;
}